.container {
    width: 850px;
    height: 600px;
    background-color: #b31b1b;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4); 
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.form-text {
    text-align: center;
    margin: 25px 25px;
    font-size: 40px;
    color: #4ce4e4
}
.form-div {
    display: flex;
    justify-content: center;
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inline-container {
    display: inline-block;
}
.inline .inline-container label {
    display: block;
    margin-bottom: 3px;
    color: #4ce4e4
}
.inline .inline-container input {
    padding: 5px 5px;
    width: 300px;
}
.block {
    margin-top: 20px;
}
.block-container label {
    display: block;
    margin-bottom: 3px;
    margin-top: 20px;
    color: #4ce4e4
}
.block .block-container input {
    padding: 5px;
    width: 624px;
}
#last-name {
    margin-left: 10px;
}
input {
    background-color: rgba(76, 228, 228, 0.8);
    border-width: 0px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
}
input:focus {
    outline: none;
    background-color: rgba(76, 228, 228, 1);
}