.Nav-bar{
	background-color: #4A148C;
	display: flex;
	justify-content: space-between;
	padding: 0px 20px;
	
}

nav div a {
	color: #4ce4e4;
	text-decoration: none;
}
nav div ul {
	list-style-type: none;
	display: flex;
}
nav div ul li {
	margin-left: 10px;
}
.selected {
	text-decoration: #4ce4e4 underline;
}