.Nav-bar{
	width: 100%;
	background-color: #4A148C;
	color: #FFFF00;
	display: flex;
	justify-content: center;
}

nav div a {
	color: white;
	text-decoration: none;
}
nav div ul {
	list-style-type: none;
}