.header-footer {
    display: flex;
    justify-content: space-evenly;
}

h2 {
    display: flex;
    justify-content: center;
}

.content-container {
    margin-top: 15px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.form-container {
    display: flex;
    flex-direction: column;
}
.diet-form, .exercise-form {
    display: flex;
    flex-direction: column;
}
.health-input {
    width: 450px;
    height: 40px;
}
img{
    width: 300px;
}
.center-buttons {
    display: block;
    margin: auto;
    width: 40%;
    height: 20px;
}